/* Animations and Responsiveness */


                        /* Animation for Blogs */


.shine a{

animation-name:shiny;
/* animation-delay:; */
animation-duration:1s;
animation-iteration-count:1;
animation-timing-function:linear ; 

  }

  @keyframes shiny {
      
0%{
background: linear-gradient(130deg,white,rgba(0, 183, 255, 0.788));
}
20%{

    background: linear-gradient(130deg,rgb(53, 255, 3),white,rgba(0, 183, 255, 0.788));

}

40%{

    background: linear-gradient(130deg,rgb(53, 255, 3),rgb(53, 255, 3),white,rgba(0, 183, 255, 0.788));


}

60%{
    background: linear-gradient(130deg,rgb(53, 255, 3),rgb(53, 255, 3),rgb(53, 255, 3),white,rgba(0, 183, 255, 0.788));

}

80%{

    background: linear-gradient(130deg,rgb(53, 255, 3),rgb(53, 255, 3),rgb(53, 255, 3),rgb(53, 255, 3),white);


}

100%{

    background: linear-gradient(130deg,rgb(53, 255, 3),rgba(0, 183, 255, 0.788));

}

  }
  
  @media screen and (max-width:940px){


    .navbar{

        box-shadow:0px 2px 1px   rgba(255, 88, 11, 0.308);

    }

.container .bg{

background-size:cover;

}

     .lines span{
    
        display: inline-block;
    
    } 

     /* .navbar img{

        display: inline;

    } */
    
    .navbar i , .Home::after,.Home a::after,.services::after{
    
        display: none;
    
    }
    .navbar ul li{
    display: none;
    }
    
    .menu:hover  .navbar ul  li {
    
    display: block;
    }
    
    .navbar ul li a {
    
    font-size: 1.8rem;
    z-index:2;
    Color:black;
    
    }
    
    .search{
    
    display: none;
    
    } 

    .icon{

        display: flex;

    }

    .hidden label{

        display:flex;

    }

    .nav-src{

display: inline-block;

    }

    .src-box{

display: block;

    }

.menu{

    display: block;

}

 }
    
 @media screen and (max-width:450px) and (min-width:10px){


.title{

font-size: 4em;
top: 3.2em;

}

.sub-title{

top: 10em;

}

.change{

top:20em;
left: 45%;
transform: translateX(-50%)!important;
height: 2rem;


}

@keyframes blink
{
from{

width: 0;

}
to{

width: 8rem;
background: transparent;

}

}


.change li{

font-size: 2rem;
top: -.2rem;
opacity: 0;

}

@keyframes up{

    0%{
    
    transform: translateY(0);
    opacity: 1;
    
    }
    
    25%{
    
        transform: translateY(-2.7rem);
    opacity: 1;
    
    }
    
    50%{
    
        transform: translateY(-5.3rem);
    
    
    }
    
    75%{
    
        transform: translateY(-8.1rem);
    
    
    }
    
    }

.bu{

top: 40%;
font-size:1em ;

}

.Lm{

transform: translate(2em,440%);

}
.Su{

transform: translate(-9em,440%);

}

.a-src:focus  ~ .src-box{

    width: 80%;

 }


 }

 @media screen and (max-width:470px) and (min-width:450px){

    .src-box{

       width: 10rem;

    }

 }


     @media screen and (max-width:672px){

.open{

width: 20rem !important;

}
     }

     @media screen and (max-width:400px){

        .open{
        
        width: 10rem !important;
        
        }
             }